@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    min-height: 100vh;
}

.landing {
    background: rgb(227,238,248);
    background: linear-gradient(34deg, rgba(227,238,248,1) 0%, rgba(255,255,255,1) 100%);
    min-height: 100vh;
    font-family: 'Karla', Helvetica, sans-serif;
}
.landing-wrapper {
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.landing__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 180px;
}

.header__logo a {
    color: #000;
    text-decoration: none;
    font-size: 27px;
}

.header__navigation-list {
    display: flex;
}

.header__navigation-item {
    margin-right: 40px;
    font-size: 16px;
}
.header__navigation-item a {
    color: #000;
    text-decoration: none;
}

.header__button button {
    border: #1d43db 1px solid;
    background-color: transparent;
    color: #1d43db;
    padding: 10px 30px;
    transition: 200ms;
    font-size: 16px;
    border-radius: 5px;
}

.header__button button:hover {
    background-color: #1d43db;
    color: #e8edff;
}

.landing__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.landing__content-wrapper {
    max-width: 600px;
    text-align: center;
}

.content__pre-title {
    font-size: 13px;
    color: #555;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}
.content__title {
    font-weight: 700;
    font-size: 60px;
    padding: 0px 3px;
    margin-bottom: 14px;
}
.content__sub-title {
    font-size: 17px;
    color: #555;
    padding: 0px 60px;
    line-height: 1.8;
    margin-bottom: 16px;
    font-weight: 600;
}

.content__form {
    padding: 0px 60px;
    display: flex;
    margin-bottom: 16px;
    height: 45px;
}
.content__input {
    margin-right: 8px;
}

.content__input input {
    padding: 0 20px;
    font-size: 14px;
    color: #1d43db;
    border: none;
    height: 100%;
    width: 220px;
}

.content__button {
    flex: 1 1 50%;
}

.content__button button {
    padding: 14px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #fb5d35;
    font-weight: 600;
    width: 100%;
    border: #fb5d35 1px solid;
    transition: 200ms;
    height: 100%;
}

.content__button button:hover {
    background-color: #fff;
    color: #fb5d35;
    border: #fb5d35 1px solid;
}

.content__describtion {
    font-size: 14px;
    color: #777;
    font-weight: 500;
}

.landing__cards {
    display: flex;
    justify-content: center;
}

.landin__cards-wrapper{
display: flex;

}

.landing__card {
    margin-left: 100px;
}

.landing__card:first-child {
    margin-left: 0px;
    }

.landing__card-title {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 16px;
}

.landing__card-describtion {
    color: #444;
    line-height: 1.5;
    font-size: 17px;
    width: 60%;
}